.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}

.menu-toggle .bar {
  height: 2px;
  width: 25px;
  background-color: blue;
  margin: 4px 0;
  transition: all 0.3s;
}

main {
  display: flex;
  justify-content: space-between;
}

.principal {
  margin-top: 200px;
  margin-left: 30px;
  gap: 25px;
}

@media (max-width: 768px) {
  #navLinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 10;
  }

  #navLinks ul {
    flex-direction: column;
    align-items: center;
  }

  #navLinks ul li {
    margin: 15px 0;
  }

  #navLinks ul li a {
    color: white;
    font-size: 13px;
  }

  .btn {
    margin-top: 7px;
    font-size: 1rem;
    color: #fff;
    background-color: #644fc1;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #navLinks.show {
    display: flex;
  }

  .marcas h1 {
    display: flex;
    justify-content: center;
    gap: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: #514c4c;
    font-size: 1.1rem;
  }
}

.principal h1 {
  font-size: 40px;
}

.principal h1 strong {
  color: rgb(87, 87, 227);
}

@media (max-width: 768px) {
  .imagem {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .imagem img {
    display: none;
  }
  .imagem img {
    width: 100%;
    height: auto;
  }
}

.span {
  display: flex;
  gap: 10px;
  padding-left: 8px;
  font-size: 15px;
  align-items: center;
}

.texto {
  display: flex;
  flex-direction: column;
}

.texto h1 {
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
  color: #514c4c;
}

.paragrafo p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3d3d3d;
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.info button {
  height: 50px;
  width: 150px;
  background-color: #644fc1;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.info button:hover {
  background-color: #5746af;
  transition: 0.1s;
}

@media (max-width: 768px) {
  .info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%px;
  }
}

.info a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 87, 227);
}

.imagem img {
  margin-top: 100px;
  max-width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .imagem img {
    max-width: 400px;
    align-items: center;
  }
}

.container-div {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.minha-div {
  height: 290px;
  width: 620px;
  background-color: white;
  border-radius: 35px;
  align-items: center;
  border: 1px solid rgb(237, 231, 231);
  cursor: pointer;
}

.minha-div:hover {
  border-color: #006adc;
}

.minha-div2 {
  height: 320px;
  width: 620px;
  background-color: white;
  border-radius: 35px;
  align-items: center;
  border: 1px solid rgb(237, 231, 231);
  cursor: pointer;
}

.minha-div2:hover {
  border-color: #5746af;
}

.minha-div img {
  margin-top: 40px;
  width: 100px;
  height: auto;
}

.minha-div2 img {
  margin-top: 40px;
  width: 100px;
  height: auto;
}

.minha-div span {
  color: #006adc;
  font-size: 20px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.minha-div2 span {
  color: #5746af;
  font-size: 20px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.minha-div p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 15px;
  color: #3d3d3d;
  font-size: 14px;
}

.minha-div2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 7px;
  color: #3d3d3d;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container-div {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  header {
    display: flex;
    gap: 0px;
  }

  .minha-div,
  .minha-div2 {
    margin-bottom: 20px;
    width: 90%;
    height: 300px;
  }
}

.left {
  margin-left: 40px;
}

.marcas p {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3d3d3d;
}

.marcas h1 {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: #514c4c;
}

.marcas span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: #3d3d3d;
}

.industry {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.indus {
  padding: 30px;
  width: 660px;
  background-color: #edf6ff;
  border-radius: 20px;
}

.img1 {
  width: 620px;
  height: 200px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .img1 {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

.indus p {
  color: #006adc;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indus span {
  font-size: 15px;
  color: #3d3d3d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .industry,
  .img1 {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .indus {
    margin-bottom: 20px;
    width: 90%;
  }
}

.containerimg {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.containerimg img {
  width: 310px;
  height: 190px;
  border-radius: 20px;
}

.textimg {
  padding: 30px;
  width: 600px;
  background-color: #f5f2ff;
  border-radius: 25px;
}

.textimg p {
  font-size: 20px;
  color: #5746af;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textimg span {
  color: #3d3d3d;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meutexto {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .containerimg {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .textimg {
    margin-bottom: 20px;
    width: 100%;
  }
}

.project {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.project p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #3d3d3d;
}

.project span {
  font-family: Arial, Helvetica, sans-serif;
  color: #5746af;
  font-size: 24px;
}

.aboutus {
  margin-top: 100px;
  background-color: #f1f1f1;
  padding: 80px;
}

.containeraboutus {
  display: flex;
  justify-content: space-between;
}

.firstlinks {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.firstlinks span {
  color: #3d3d3d;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.firstlinks a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5746af;
}

.firstlinks a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .containeraboutus {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .imagem img {
    display: none;
  }
  .imagem img {
    width: 100%;
    height: auto;
  }
}

.fim {
  background-color: #f1f1f1;
  border-top: 1px solid rgb(221, 219, 219);
  padding: 40px;
}

.fim span {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
